.hidden {
	display: none;
}

.calendar-titles i {
	display: none;
}

.calendar-titles .selected-day {
	color: white;
}

.calendar-titles .selected-day div {
	background-color: green;
    width: 37px;
    height: 37px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}

.extended-calendar .hidden {
	display: none;
}

.calendar-hour {
    min-height: 80px;
    height: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
}

.calendar-hour em {
    font-style: normal;
    font-size: 11px;
    padding-left: 100px;
    color: #666;
    min-width: 100%;
    position: relative;
    display: inline-block;
}