div.hidden {
    display: none;
}

div#no-user p {
    font-size: 13px;
}

.login-logo {
    width: 150px !important;
    height: 76px !important;
    background-size: 150px 76px !important;
}

.login-page.bg1 {
    background-image: url("../img/PILETA.jpg");
}